.final-purchase-items .cart-item-container {
    background-color: #06070d;
    color: white;
}

.final-purchase-items .cart-item-container .item-remove-button {
    background-color: #ffffff;
    color: #06070d;
    margin-right: 50px;
}

.final-purchase-items .cart-item-container .item-remove-button:hover {
    background-color: #d4d4d4;
}

.final-purchase-items .cart-item-container .item-qty-btn {
    background-color: #06070d;
    color: white;
    border: 1px solid white;
}

.final-purchase-items .cart-item-container .item-qty-btn:hover {
    background-color: #ffffff;
    color: #06070d;
}

.final-purchase-items #total_price {
    background-color: #ffffff;
    color: #06070d;
    justify-content: center;
}

.cart-buy-button {
    position: absolute;
    width: 250px;
    background-color: #06070d;
    color: white;
    border-radius: 10px;
    border: 1px solid #06070d;
    font-size: 18px;
    padding: 12px 0;
    transition: 0.1s;
    cursor: pointer;
}

.cart-buy-button:hover {
    background-color: #171717;
    transition: 0.1s;
}

.final-purchase-items .empty-cart-message {
    color: #8b8b8b;
}

.user-data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-fields label {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    min-width: fit-content;
    width: 500px;
    padding-right: 200px;
}

.form-fields label input {
    text-align: left;
    border: 0px solid rgb(80, 80, 80);
    border-bottom: 1px solid rgb(123, 123, 123);
    border-right: 1px solid rgb(123, 123, 123);
    border-radius: 2px;
}

.form-fields label input:focus {
    outline: none;
}

.cart-buy-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 50px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}