.item_list_container {
    background-color: rgb(223, 223, 223);
    width: 25%;
    height: 100vh;
    height: calc(100vh - 60px);
    float: right;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.close-button {
    float: right;
    margin: 15px;
    font-size: 36px; 
    opacity: 1; 
    color: rgb(223, 223, 223); 
    -webkit-text-stroke-width: 1px;
    border-radius: 25%;
    border: 0;
    background-color: rgb(153, 153, 153);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.close-button:hover {
    background-color: rgb(123, 123, 123);
}
