.buy-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.change-qty {
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #06070d;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    border: 1px solid white;
    cursor: pointer;
}

.qty-btn:hover {
    background-color: #ffffff;
    color: #06070d;
    transition: 0.1s;
}

.button {
    background-color: #06070d;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    font-size: 16px;
    transition: 0.1s;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 600;
}

.button:hover {
    background-color: #ffffff;
    color: #06070d;
    transition: 0.1s;
}